extends master.pug
block content
    form#myForm(action='/api/movie')
        input(type="hidden" name="id" value=_id)
        div
            p= name
            label(for="name") Name
            input(name="name" value=name)
        div
            label(for="yearReleased") Year Released
            input(name="yearReleased" value=yearReleased)
        div
            label(for="director") Director
            input(name="director" value=director)
        div
            input(type="submit" value="Submit")
block scripts
    script
        include form.js
